.example
  margin: 10px 20px
  padding: 0px

  hr
    opacity: 0.5

  &__dark
    h1, h2, h3, h4, h5, h6
      color: silver

    h2
      margin-left: 5px

    hr
      opacity: 0.15
      margin-top: 30px
      margin-bottom: 30px

body
  background-color: #333
